- name: Remove old Docker packages
  become: yes
  package:
    name: "{{ item }}"
    state: absent
  loop:
    - docker.io
    - docker-doc
    - docker-compose
    - docker-compose-v2
    - podman-docker
    - containerd
    - runc

- import_tasks: packages-update_cache.yml

- name: Configure Docker repo
  block:
    - name: Install packages
      become: yes
      package:
        name: "{{ item }}"
        state: present
      loop:
        - ca-certificates
        - curl
    
    #Only for Ubuntu
    - name: Create keyring dir
      become: yes
      file:
        path: "/etc/apt/keyrings"
        state: directory
        owner: root
        group: root
        mode: 0755
    
    - name: Download Docker GPG key
      become: yes
      get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'
        force: yes

    - name: Get dpkg architecture
      command: dpkg --print-architecture
      register: dpkg_arch
    
    - name: Get Ubuntu codename
      shell: . /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}"
      register: ubuntu_codename

    - name: Add Docker repository to apt sources
      apt_repository:
        repo: "deb [arch={{ dpkg_arch.stdout }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ubuntu_codename.stdout }} stable"
        filename: docker
        state: present
      become: yes
        
    - import_tasks: packages-update_cache.yml


- name: Install Docker packages
  become: yes
  package:
    name: "{{ item }}"
    state: present
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin
    - docker-compose-plugin

- name: Start and enable docker
  become: yes
  service:
    name: docker
    state: started
    enabled: true
  when: inventory_hostname == "8700k"
