- hosts: localhost
  connection: local
  become: yes

  tasks:
    - import_tasks: ../.templates/packages-update_cache.yml

    - name: Install OpenSSH
      block:
        - name: Install OpenSSH
          package:
            name: openssh
            state: present
        - name: Enable and start OpenSSH
          service:
            name: sshd
            state: started
            enabled: true
        - name: Allow SSH to root
          ansible.builtin.lineinfile:
            path: /etc/ssh/sshd_config
            insertafter: '^# Authentication:$'
            line: 'PermitRootLogin yes'