- hosts: localhost
  connection: local
  become: yes

  tasks:
    - import_tasks: ../.templates/packages-update_cache.yml
    - name: Upgrade package cache - apk
      community.general.apk:
        upgrade: yes
      when: ansible_pkg_mgr == 'apk'

    - name: Install Wireguard Client
      block:
        - name: Install packages for WG
          package:
            name: "{{ item }}"
            state: present
          loop:
            - wireguard-tools
            - iptables
        - name: Copy wg conf file
          copy:
            src: ~/ThinMain.conf
            dest: /etc/wireguard/wg0.conf
            backup: yes
        - name: Enable and start WG
          service:
            name: wg-quick.wg0
            state: restarted
            enabled: true
