- hosts: localhost
  conenction: local
  become: yes

  tasks:
    - import_tasks: .templates/timezone.yml
    - import_tasks: .templates/docker.yml

    - name: Install packages
      package:
        name: "{{ item }}"
        state: present
      loop:
        - easyeffects
        - calf-plugins
        - ddcutil
        - blueman
        - gparted
        - flatpak
        - curl
        - git
        - git-lfs
        - ncdu
        - tree
        - vlc
        - dbeaver-ce
        - freecad

    - name: Install Snap packages
      community.general.snap:
        name: "{{ item }}"
        state: present
        loop:
          - firefox
          - chromium-browser
          - thunderbird
          - signal-desktop
          - libreoffice

      - name: Configure Flatpak
        block:
          - name: Install Flatpak
            package:
              name: {{ item }}
              state: present
            loop:
              - flatpak
              - gnome-software-plugin-flatpak
          - name: Add Flathub repo
            command: flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
          - name: Install Flatpak packages
            community.general.flatpak:
              name: {{ item }}
              state: present
              loop:
                - org.virt_manager.virt-manager
                - org.gimp.GIMP
                - com.obsproject.Studio
                - com.bitwarden.desktop
                - com.discordapp.Discord
                - com.getpostman.Postman
                - com.github.PintaProject.Pinta
                - org.virt_manager.virt-manager

        - name: Configure Gnome Shell Extensions
          block:
            - name: Install Extension Manager
              community.general.flatpack:
                name: com.mattjakeman.ExtensionManager
                state: present
            - name: Copy install-gnome-extensions.sh script
              copy:
                become: false
                src: .files/install-gnome-extensions.sh
                dest: /tmp/
                mode: u+x
            - name: Install Gnome Extensions
              command: /tmp/install-gnome-extensions.sh
                argv:
                  - https://extensions.gnome.org/extension/3628/arcmenu/
                  # - https://extensions.gnome.org/extension/2645/brightness-control-using-ddcutil/
                  - https://extensions.gnome.org/extension/6325/control-monitor-brightness-and-volume-with-ddcutil/
                  - https://extensions.gnome.org/extension/1160/dash-to-panel/
                  - https://extensions.gnome.org/extension/1386/notification-counter/
            - name: Disable specified Gnome Extensions
              command: gnome-extensions disable
                argv:
                  - ubuntu-dock@ubuntu.com
          - name: Install VS Code
            block:
              - name: Install the apt repository and signing key
                command: 'echo "code code/add-microsoft-repo boolean true" | sudo debconf-set-selections'
              - name: Install VS Code
                package:
                 name: code
                 state: present
