- hosts: all
  connection: local
  become: yes

  tasks:
    - import_tasks: .templates/timezone.yml
    - import_tasks: .templates/docker.yml

    - name: Install packages
      package:
        name: "{{ item }}"
        state: present
      loop:
        - easyeffects
        - calf-plugins
        - ddcutil
        - blueman
        - gnome-software
        - gparted
        - smartmontools
        - lm-sensors
        - curl
        - git
        - git-lfs
        - ncdu
        - tree
        - vlc
        - dbeaver-ce

    - name: Configure Virtual Machine Manager
      block:
        - name: Install VMM packages
          package:
            name: "{{ item }}"
            state: present
          loop:
            - qemu-kvm 
            - libvirt-daemon-system 
            - libvirt-clients
            - virt-manager
        - name: Add user to VMM groups
          user:
            name: "{{ ansible_env.SUDO_USER }}"
            groups: "{{ item }}"
            append: yes
          loop:
            - libvirt
            - kvm
        - name: Restart and disable VMM libvirtd service
          service:
            name: libvirtd
            enabled: false
            state: restarted

    - name: Install 8700k only packages
      package:
        name: freecad
        state: present
      when: inventory_hostname == "8700k"

    - name: Install Snap packages
      community.general.snap:
        name: "{{ item }}"
        state: present
      loop:
        - thunderbird
        - bitwarden
        - libreoffice
        - signal-desktop

    - name: Configure Flatpak
      block:
        - name: Install Flatpak
          package:
            name: "{{ item }}"
            state: present
          loop:
            - flatpak
            - gnome-software-plugin-flatpak
        - name: Add Flathub repo
          command: flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
        - name: Install Flatpak packages
          community.general.flatpak:
            name: "{{ item }}"
            state: present
          loop:
            - org.chromium.Chromium
            - org.gimp.GIMP
            - com.obsproject.Studio
            - com.discordapp.Discord
            - com.getpostman.Postman
            - org.audacityteam.Audacity
            - com.github.PintaProject.Pinta
        
    - name: Configure Mozilla Firefox
      block:
        - name: Configure Mozilla Firefox - 8700k
          block:
            - name: Uninstall Snap Firefox
              community.general.snap:
                name: firefox
                state: absent
            - name: Prefer apt over snap Firefox version
              copy:
                src: .files/firefox/mozilla-firefox
                dest: /etc/apt/preferences.d/
                mode: 644
            - name: Add MozillaTeam PPA
              command: 'add-apt-repository ppa:mozillateam/ppa'
            - name: Install Firefox apt package
              package:
                name: firefox
                state: present
            - name: Create config file with flags for HW Video Decoding
              copy:
                src: .files/firefox/mozilla.cfg
                dest: /usr/lib/firefox/
                mode: 644
            - name: Make Firefox flags config file to be executed by default
              copy:
                src: .files/firefox/local-settings.js
                dest: /usr/lib/firefox/defaults/pref/
                mode: 644
          when: inventory_hostname == "8700k"
        - name: Configure Mozilla Firefox - 5420
          block:
            - name: Install Firefox Snap package
              community.general.snap:
                name: firefox
                state: present
          when: inventory_hostname == "5420"
      tags: firefox

    - name: Configure Gnome Shell Extensions
      block:
        - name: Install Extension Manager
          community.general.flatpak:
            name: com.mattjakeman.ExtensionManager
            state: present
        - name: Copy install-gnome-extensions.sh script
          become: false
          copy:
            src: .files/install-gnome-extensions.sh
            dest: /tmp/
            mode: u+x
        - name: Install Gnome Extensions
          command:
            argv:
              - /tmp/install-gnome-extensions.sh
              - https://extensions.gnome.org/extension/3628/arcmenu/
              # - https://extensions.gnome.org/extension/2645/brightness-control-using-ddcutil/
              - https://extensions.gnome.org/extension/6325/control-monitor-brightness-and-volume-with-ddcutil/
              - https://extensions.gnome.org/extension/1160/dash-to-panel/
              - https://extensions.gnome.org/extension/1386/notification-counter/
        - name: Disable specified Gnome Extensions
          command:
            argv:
              - gnome-extensions
              - disable
              - ubuntu-dock@ubuntu.com

    - name: Enable week numbers in GNOME Taskbar calendar
      shell: |
        if [ "$(gsettings get org.gnome.desktop.calendar show-weekdate)" != "true" ]; then
            gsettings set org.gnome.desktop.calendar show-weekdate true
        fi
      args:
        executable: /bin/bash

              
    - name: Install VS Code
      block:
        - name: Install the apt repository and signing key
          command: 'echo "code code/add-microsoft-repo boolean true" | sudo debconf-set-selections'
        - name: Install VS Code
          package:
           name: code
           state: present

